<?xml version='1.0' encoding='utf-8'?>
<widget id="com.androad.wedding" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>스마트 청첩장</name>
    <description>지훈과 수진의 결혼식 모바일 초대장입니다.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <plugin name="cordova-plugin-local-notification" /> 
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-datepicker" /> <platform name="android">
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-enable-androidx" value="true" />
        <preference name="android-minSdkVersion" value="24" />

        <config-file target="AndroidManifest.xml" parent="/manifest" 
                     xmlns:android="http://schemas.android.com/apk/res/android"> 
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
    </platform>
</widget>
